body{
    text-transform: capitalize;  
    
background-image:url(../image/tree.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.main{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.container{
    width: 400px;
    height: 300px;
    background-color: aliceblue;
    border-radius: 10px;
    overflow: hidden;    
}
.login_from label{
display: inline-block;
padding-left: 10px;
padding-bottom: 10px;
}
.login_from input{
width: 399px;
 padding-bottom: 15px;
 margin-left: 1px;
}
.container h1{
    background-color: aqua;
    margin-top: 0px;
    text-align: center;
}
#button{
margin-top: 15px;
padding-top: 10px;

font-size: 15px;
border: 2px solid black;
}
#button:active{
    background-color:aqua;
}
.anchor{
    text-align: center;
    margin-top: 20px;
}